*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Gotham Rounded", sans-serif;
}

body {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(0, 152, 155, 1) 0.1%,
    rgba(0, 94, 120, 1) 94.2%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 90%;
  width: 900px;
  background-color: white;
  box-shadow: 0 5px 10px black;
  border-radius: 5px;
}

.content {
  padding: 40px;
  margin-top: 50px;
}

.header {
  background-image: linear-gradient(
    to right,
    #16222a 0%,
    #3a6073 51%,
    #16222a 100%
  );
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.icon-container {
  position: relative;
  top: 70px;
  padding: 20px;
  background-color: white;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.general-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.status {
  font-size: 3rem;
  font-weight: bold;
}

.location {
  font-size: 2rem;
  font-weight: normal;
  margin-top: 10px;
}

.detail-section {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  padding: 20px;
}

.detail .title {
  font-size: 2rem;
  flex-grow: 1;
  font-weight: bold;
  color: #777;
}

.detail .value {
  font-size: 2rem;
  margin-top: 20px;
}

.city-search-container,
.feelings-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 60px;
}
.city-search-container {
  margin-bottom: 20px;
}
#date,
#content {
  font-size: 1.8rem;
  color: #25404e;
  margin-top: 10px;
}
#generate {
  margin-bottom: 60px;
  margin-left: 30px;
  padding: 0 40px 0 40px;
  font-size: 24px;
  cursor: pointer;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #16222a 0%,
    #3a6073 51%,
    #16222a 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.city-search,
.feelings {
  margin-top: 0px;
  font-size: 24px;
  outline: none;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 10px 15px;
  width: 60%;
}
.feelings {
  margin-bottom: 60px;
}
